<br>
<br>
<h1 class="text-center"> Eat da burger </h1>
<hr>
<br>
<div class="col-md-12 -colsm-12 col-xs-12 text-right" id="addBox">
    <h2>Add a Burger</h2>

    <form action="/" method="POST">

        <label for="burgerBox">Burger Name:</label>
        <input type="text" id="burgerBox" name="name" >

      <button class="btn btn-success" type="submit">Add</button>

    </form>
</div>

<div class="col-md-6 -colsm-12 col-xs-12">
  <table class="table">
    <thead>
      <th> Item ID</th>
      <th> Burger Name</th>
      <th> Eat it?</th>
    </thead>
    <tbody>
      {{#each burgers}}
        {{#unless this.devoured}}
        <tr>
          <td> {{this.id}} </td>
          <td> {{this.burger_name}} </td>
           <td>
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="burgerName" value="true">
                <button class="btn btn-danger" type="submit">Devour it!</button>
              </form>
          </td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
</div>

<div class="col-md-6 -colsm-12 col-xs-12">
  <table class="table">
      <thead>
      <th> Devored Burgers </th>
    </thead>
        <tbody>
          {{#each burgers}}
            {{#if this.devoured}}
            <tr>
              <td><span class="glyphicon glyphicon-cutlery glyphicon-inverse" aria-hidden="true" >  {{this.burger_name}}</td>
            </tr>
            {{/if}}
          {{/each}}
        </tbody>
  </table>
</div>
