<div class="container">

	<div class="row">
		<!-- have a hidden div, on "submit" will show burgers that user wants to eat, with a col-md-4 -->
		<div id ="newBurgers" class="col-md-4 col-md-offset-4 form-group text-center">
		  <h1>Eat-da-burger</h1>
		  <textarea id="addBurger" class="form-control" rows="5"></textarea>
		  <button id="submit" type="button" class="btn btn-primary">Submit</button>
		  <p class="text-muted">Enter a burger you want to eat. Click the "Submit" button</p>
		</div>
		<!-- have a hidden div, on "Devour it!" will show burgers the user has eat   -->
	</div>

</div>